# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# MetaTrader 5 logs
*.log

# Environment variables
.env

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db
